body {
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  border-top: 8px solid #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
a {
  color: #000;
  line-height: 20px;
}
a:hover {
  text-decoration: none;
}
h3 {
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  margin-bottom: 12px;
}
.container {
  margin: 64px;
}
.container-flex {
  display: flex;
  max-width: 600px;
  margin-bottom: 32px;
}
.container-flex:last-child {
  margin-bottom: 0;
}
.logo {
  height: 63px;
  width: 63px;
  background: #000;
  margin-bottom: 32px;
}
.bookmarks {
  width: 100%;
}
