body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 11px;
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  transform: translateY(100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
h1 span {
  color: #666666;
}
a {
  color: #ffffff;
  line-height: 24px;
  text-decoration: none;
  transition: 0.1s ease;
}
a:hover {
  color: #666666;
  transition: 0.1s ease;
}
h3 {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 7px;
  color: #666666;
}
.bookmarks-box {
  display: flex;
  flex-wrap: wrap;
}
.bookmarks {
  border: 2px solid #171717;
  border-right-width: 0;
  padding: 3em;
}
.bookmarks:last-child {
  border-right-width: 2px;
}

@media (max-width: 768px) {
  body {
    transform: translateY(0%);
  }
  .bookmarks-box {
    margin-top: 3em;
    flex-direction: column;
  }
  .bookmarks {
    border-bottom-width: 0;
    border-right-width: 2px;
    padding: 3em 6em;
  }
  .bookmarks:last-child {
    border-bottom-width: 2px;
  }
}
