body {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  border-top: 8px solid #000000;
  background: #040404;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
a {
  color: #fff;
  line-height: 24px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h3 {
  font-family: "Roboto", monospace;
  font-size: 30px;
  margin-bottom: 12px;
}
.container {
  margin: 64px;
}
.container-flex {
  display: flex;
  max-width: 600px;
  margin-bottom: 32px;
}
.container-flex:last-child {
  margin-bottom: 0;
}
.bookmarks {
  width: 100%;
}
