body {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  border-top: 8px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  color: black;
  line-height: 20px;
}

a:hover {
  text-decoration: none;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-bottom: 12px;
}

.container {
  margin: 64px;
}

.container-flex {
  display: flex;
  max-width: 600px;
  margin-bottom: 32px;
}

.container-flex:last-child {
  margin-bottom: 0;
}

.logo {
  height: 63px;
  width: 63px;
  background: black;
  margin-bottom: 32px;
}

.bookmarks {
  width: 100%;
}
